/* assets/css/style.css */
/* Hier kommt später das gemeinsame Styling hin. */

/* Farbthema GrabItOn */
:root {
  --blue-dark: #030d2f; /* Samtblau */
  --blue-accent: #2b5dff;
  --text-light: #ffffff;
  --glass-bg: rgba(255, 255, 255, 0.08);
  --glass-border: rgba(255, 255, 255, 0.12);
}
